In [1]:
import pandas as pds
import rdflib
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [7]:
patients = pds.read_csv('../data/patients.csv')
providers = pds.read_csv('../data/providers.csv')

   provider_id         name
0            1  Dr. Pullman
1            2   Dr. Filler
2            3     Dr. Pain

In [8]:
pysqldf('select patient_id from patients')

   patient_id
0        1001
1        1002
2        1003
3        1004
4        1005
5        1006